<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178107379827-mvl9aefqcqdnoo16np9dtjhah0e7qhop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178107379827-mvl9aefqcqdnoo16np9dtjhah0e7qhop</string>
	<key>API_KEY</key>
	<string>AIzaSyBlwpfGBxHS3EQlLUdAcTb7M1C2jwqMlNw</string>
	<key>GCM_SENDER_ID</key>
	<string>178107379827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KazPlaygroundSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>kazplaygroundswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>kazplaygroundswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178107379827:ios:d33aeb0baaeda63d8dba06</string>
</dict>
</plist>